# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/dist
tmp

# dependencies
client/node_modules
client/bower_components

# misc
client/.sass-cache
client/connect.lock
client/coverage/*
client/libpeerconnection.log
client/npm-debug.log
client/testem.log
log


api/.bundle
api/db/*.sqlite3
api/*.sqlite3-journal
api/log/*
!/log/.keep
api/tmp
api/Gemfile.lock
.vagrant
.DS_Store
*.swp
*~
