# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
tmp
client/dist/

# dependencies
client/node_modules

# misc
client/npm-debug.log
client/testem.log
log

api/.bundle
api/log/*
api/tmp
api/Gemfile.lock
.vagrant
.DS_Store
*.swp
*~
