# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/dist/

# dependencies
client/node_modules

# misc
client/npm-debug.log
client/testem.log
api/.bundle
api/log/*
api/tmp/*
!api/log/.keep
!api/tmp/.keep
.vagrant
.DS_Store
*.swp
*~
