<div id="paper-wormhole"></div>
{{#paper-toolbar}}
{{#paper-menu as |menu|}}
  {{#paper-button target=menu action="toggleMenu" icon-button=true}}
      {{paper-icon class="md-menu-origin" icon="more-vert"}}
  {{/paper-button}}
{{else}}
  {{#paper-menu-item}}
    <b>Menu</b>
  {{/paper-menu-item}}
  {{#if session.isAuthenticated}}
    {{#paper-menu-item action="transitionTo" param="cocktails"}}
      <span>Cocktails</span>
    {{/paper-menu-item}}
    {{#paper-menu-item action="transitionTo" param="ingredients"}}
      <span>Ingredients</span>
    {{/paper-menu-item}}
    {{#paper-menu-item action="invalidateSession"}}
      <span>Logout</span>
    {{/paper-menu-item}}
  {{else}}
    {{#paper-menu-item action="transitionTo" param="login"}}
      <span>Login</span>
    {{/paper-menu-item}}
    {{#paper-menu-item action="transitionTo" param="signup"}}
      <span>Signup</span>
    {{/paper-menu-item}}
  {{/if}}
{{/paper-menu}}
{{/paper-toolbar}}
{{#paper-content class="md-padding"}}
  {{outlet}}
{{/paper-content}}
