<h3>Login</h3>
{{#paper-content}}
  <div class="container">
    {{paper-input label="Name" value=name}}
    {{paper-input label="Password" type="password" value=password}}
    {{#if name}}
      {{#if password}}
        {{#paper-button raised=true action="authenticate" param=true}}Login{{/paper-button}}
      {{else}}
        {{#paper-button raised=true action="create" param=true disabled=true}}Login{{/paper-button}}
     {{/if}}
    {{else}}
      {{#paper-button raised=true action="create" param=true disabled=true}}Login{{/paper-button}}
    {{/if}}
  </div>
{{/paper-content}}
