<h3>Login</h3>
{{#paper-content}}
  <div class="container">
    {{paper-input label="Name" value=name}}
    {{paper-input label="Password" type="password" value=password}}
    {{#paper-button raised=true action="authenticate" param=true}}Login{{/paper-button}}
  </div>
{{/paper-content}}
