<div class="doc-content">
  {{#paper-button raised=true floating=true action="updateInventory"}}Update Inventory{{/paper-button}}
  {{#paper-content class="md-whiteframe-z1"}}
    {{#paper-list}}
      {{#paper-subheader class="md-no-sticky"}}Inventory of your spirits{{/paper-subheader}}
      {{#each model as |ingredient|}}
      {{#paper-item action="addToInventory" value=ingredient.name}}
        <p>{{ingredient.name}}</p>
        {{paper-checkbox class="md-secondary"  checked=ingredient}}
      {{/paper-item}}
      {{else}}
       {{#paper-item}}
          <p>Somethings not right here......</p>
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}
</div>
